body {
  background-image: url("./assets/background.jpg");
  background-size: cover;
  padding: 5%;
  text-align: center;
  font-size: 18px;
}

button {
  margin-left: 5px;
}

button,
input {
  border: 2px solid black;
  border-radius: 2px;
  background-color: white;
}
